<ion-side-menus enable-menu-with-back-views="false" style="">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header ">
            <ion-list id="menu-list1">
                <ion-item class="item-avatar" id="menu-list-item6" style="">
                    <h2>name</h2>
                </ion-item>
                <ion-item id="menu-list-item1" ui-sref="u" menu-close="" style="">我的宇宙</ion-item>
                <ion-item id="menu-list-item2" ui-sref="page2" menu-close="" style="">我留下的</ion-item>
                <ion-item id="menu-list-item4" ui-sref="menu.page3" menu-close="" style="">我看好的</ion-item>
                <ion-item id="menu-list-item3" ui-sref="menu.page4" menu-close="" style="">我被夸的</ion-item>
                <ion-item id="menu-list-item5" ui-sref="menu.page3" menu-close="" style="">好友聊天？</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>