<ion-view title="我发过内容" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="page2-list-item-container4" style="">
            <div id="page2-markdown4" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="page2-list-item-container5" style="">
            <div id="page2-markdown5" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="page2-list-item-container6" style="">
            <div id="page2-markdown6" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="page2-list-item-container7" style="">
            <div id="page2-markdown7" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>