<ion-view title="我被赞过" id="page4" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="page4-list8">
            <ion-item class="item-avatar" id="page4-list-item16" style="">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="page4-list-item17" style="">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="page4-list-item18" style="">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="page4-list-item19" style="">
                <h2>Item</h2>
            </ion-item>
            <ion-item class="item-avatar" id="page4-list-item20" style="">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>