<ion-view title="我喜欢" id="page3" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="page3-list7">
            <ion-item class="item-avatar" id="page3-list-item15" style="">
                <h2>Item</h2>
            </ion-item>
            <ion-item id="page3-list-item12" style="">Item 1</ion-item>
            <ion-item id="page3-list-item13" style="">Item 2</ion-item>
            <ion-item id="page3-list-item14" style="">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>