<ion-view title="我发过内容" id="page8" style="">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="page8-list-item-container9" style="">
            <div id="page8-markdown9" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="page8-list-item-container10" style="">
            <div id="page8-markdown10" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="page8-list-item-container11" style="">
            <div id="page8-markdown11" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="page8-list-item-container12" style="">
            <div id="page8-markdown12" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>