<ion-view title="U" id="page1" style="">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="u-card21">
            <ion-list id="u-list9">
                <ion-item id="u-list-item25" style="">Item 1</ion-item>
                <ion-item id="u-list-item26" style="">Item 2</ion-item>
                <ion-item id="u-list-item27" style="">Item 3</ion-item>
            </ion-list>
            <ion-item class="item-avatar" id="u-list-item21" style="">
                <h2>Item</h2>
            </ion-item>
            <div class="item item-body" id="u-list-item-container8" style="">
                <div id="u-null" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <button id="u-button5" class="button button-positive  button-block">Tap me!</button>
    </ion-content>
</ion-view>