<ion-view title="U" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="u-list-item-container4" style="">
            <div id="u-markdown4" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="u-list-item-container5" style="">
            <div id="u-markdown5" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="u-list-item-container6" style="">
            <div id="u-markdown6" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="item item-body" id="u-list-item-container7" style="">
            <div id="u-markdown7" style="margin-top:0px;color:#000000;">
                <p>Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>